# Byte-compiled 
__pycache__/
*.py[cod]
*$py.class

# virtualenv
venv/

# Django stuff:
*.log
*.pot
db.sqlite3
media/

#outros
*.pyc
*.pyo
__pycache__
db.sqlite3
*.log
*.pot
*.py[cod]
*.swp
*~
.env
*.env
env/
venv/
ENV/
env.bak/
venv.bak/
.mypy_cache/
.coverage
.coverage.*
.tox/
.pytest_cache/
.idea/
.vscode/
.DS_Store
*.sqlite3
*.log